@{
    ViewData["Title"] = "Store - View Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Set the model -->
@model int
<!-- Dsiplay product detail -->
<h2>Product Detail</h2>
<p>You are viewing product wiht ID: <strong>@Model</strong></p>
